nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.wrapper{
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  padding-top: 2%;
  text-align: center;

}
.wrapper span{
  position: relative;
  display: inline-block;
  color: white;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  animation: wave 2s infinite;
  animation-delay: calc(0.09s * var(--i));
}

@keyframes wave{
  0%, 40%, 100%{
      transform: translateY(0);
  }
  20%{
      transform: translateY(-50px);
  }
}

.dark-mode-text {
  cursor: pointer;
  transition: transform 0.2s;
}

.dark-mode-text:hover {
  transform: scale(1.2);
  color: #d5d5d5;
}

.fa {
  color: white;
}

@media (min-width: 376px) {
  nav {
    padding: 1.75rem 5rem;
  }
}

h2 {
  font-size: 24px;
}

div {
  font-weight: 600;
}

:host-context(.light) nav {
  background-color: var(--l-element);
}

:host-context(.dark) nav {
  background-color: var(--d-element);
}
